{% extends 'admin_indexbase.html' %}
{% block title %}会员信息{% endblock %}
{% block content2 %}<!--页面右边部分，存放页面功能对应的界面-->
<table border="3" align="center">
    <caption>会员信息</caption>
    <thead>
    <tr>
        <th>用户名</th>
        <th>姓 名</th>
        <th>年 龄</th>
        <th>生 日</th>
        <th>身 高</th>
    </tr>
    </thead>

    {% for item in user_list %}
    <div>
        <tr>
            <td><a href="{{item.username}}">
                {{ item.username }} </a>
            </td>
            <td>
                {{ item.name }}
            </td>
            <td>
                {{ item.age }}
            </td>
            <td>
                {{ item.birthday }}
            </td>
            <td>
                {{ item.height }}
            </td>
        </tr>
    </div>
    {% endfor %}
</table>
{% endblock %}