{%extends 'logedbase.html' %}
{% block title %}AmyYoga首页{% endblock %}

{% block content %}<!--页面上方部分，存放AmyYoga的Logo-->

    {% if status == 'LOGOUT' %}
    <div align="right">
        <a href="/login/logout/">
            <button>退出</button>
        </a>
    </div>

    {% elif status == 'LOGIN'%}
    <div align="right">
        <a href="/register/">
            <button>注册</button>
        </a> <a href="/login/">
        <button>登陆</button>
    </a>
    </div>
    {% endif %}

{% endblock %}

{% block content1 %}<!--页面左边部分，存放页面的几个功能-->
<p>
    <a href="/about/teacherteam/">{% load static %}
        <img width="50" height="50" src="{% static 'teacherteam.jpg' %}"></a>
    <br><a href="/about/teacherteam/"><b>师资团队</b></a>
</p>
<p>
    <a href="/about/course/">{% load static %}
        <img width="50" height="50" src="{% static 'class.jpg' %}"></a>
    <br><a href="/about/course/"><b>课程相关</b></a>
</p>
<p>
    <a href="/about/location/">{% load static %}
        <img width="50" height="50" src="{% static 'location.jpg' %}"></a>
    <br><a href="/about/location/"><b>场地相关</b></a>
</p>
<p>
    <a href="/about/yoga/">{% load static %}
        <img width="50" height="50" src="{% static 'yogainformation.jpg' %}"></a>
    <br><a href="/about/yoga/"><b>瑜伽科普</b></a>
</p>
{% endblock %}