{% extends 'base.html'%}

{% block title %}AmyYoga瑜伽科普{% endblock %}

{% block content %}<!--页面上方部分，存放AmyYoga的Logo-->
<div align="right">
    <a href="/register"><button>注册</button></a> <a href="/logout"><button>退出登陆</button></a>
</div>
{% endblock %}

{% block content1 %}<!--页面左边部分，存放页面的几个功能-->
       <p>
            <a href="/teacherteam">{% load static %}
                <img width="50" height="50" src="{% static 'teacherteam.jpg' %}"></a>
            <br><a href="/teacherteam"><b>师资团队</b></a>
        </p>
        <p>
            <a href="/aboutclass">{% load static %}
                <img width="50" height="50" src="{% static 'class.jpg' %}"></a>
            <br><a href="/aboutclass"><b>课程相关</b></a>
        </p>
        <p>
            <a href="/aboutlocation">{% load static %}
                <img width="50" height="50" src="{% static 'location.jpg' %}"></a>
            <br><a href="/aboutlocation"><b>场地相关</b></a>
        </p>
        <p>
            <a href="/yogamessage">{% load static %}
                <img width="50" height="50" src="{% static 'yogainformation.jpg' %}"></a>
            <br><a href="/yogamessage"><b>瑜伽科普</b></a>
        </p>
{% endblock %}

{% block content2 %}<!--页面右边部分，存放页面功能对应的界面-->
<pre>
 ➤关于起源
    瑜伽的起源已经无法从任何的书籍或者记载中找到明确的记录。
    关于瑜伽存在的最早的考古证据，是从印度河谷发掘出的刻有瑜伽体式的石头印章，存在于约公元前3000年，也就是说距今已经有5000多年的历史。
    一本书《瑜伽经》（Yoga Sutras）是印度古代主要的经典之一，是印度六大哲学学派-瑜伽派最重要的经典，被成为王瑜伽体系的根本与基础，也是一部关于瑜伽体系修习的实践指南。
    一个人帕坦伽利（PATANJALI）,    也就是被称作瑜伽之祖的那个人，是一个对瑜伽有巨大贡献的人。他撰写了《瑜伽经》，赋予了瑜伽所有的理论和知识。在这部著作里，它阐述了瑜伽的定义，瑜伽的内容，瑜伽给身体内部带来的变化等等。在帕坦伽利之前，其实瑜伽已经有了很长时间的实践期，但是没有人给瑜伽一个系统的解释，帕坦伽利创造了一个整体的瑜伽体系。他指出瑜伽不是一种理论，不是存在于理论之上的，它更多的是一个实践。如果要成为一位真正的瑜伽人，不是只在理论层面研究瑜伽，而必须在实践中练习和体验瑜伽。

➤关于流派
    正统的印度古典瑜伽包括智瑜伽、业瑜伽、哈他瑜伽、王瑜伽、昆达利尼瑜伽五大体系。
    也可以按修炼宗旨分为：业瑜伽，智瑜伽，奉爱瑜伽，王瑜伽瑜伽发展到现代，又新增了很多派别，比如艾扬格瑜伽，流瑜伽，阴瑜伽，比克拉姆热瑜伽等等瑜伽的流派分类很复杂，没有必要去详细梳理。我们只需知道瑜伽越是古老，越是理性，越是注重内在修炼。
    在古代，习练瑜伽是为了达到一种较高的意识觉悟状态所做的多年的准备，但这种状态不是每一个人，甚至是极少有人能够达到的。这也就是为什么哈他瑜伽开始发展并成为了最主流的瑜伽流派的原因。这还得先说王瑜伽王瑜伽的创始人就是瑜伽之祖 - 帕坦伽利，他总结了瑜伽的八大分支，也就是王瑜伽的8大步骤，也是阿斯汤嘎瑜伽的八个部分：
    -制戒-内制-体式-调息-制感-总持-禅定（冥想）-开悟（三摩地）

作者：雪莉Shirley
链接：https://www.jianshu.com/p/0baa3597a90f
来源：简书
简书著作权归作者所有，任何形式的转载都请联系作者获得授权并注明出处。
</pre>
    {% endblock %}