#loginform
{
    text-align:center;
    background-color:#FFFFFF;
    opacity:0.7;
    width:25em;
    margin:10em auto;
}
#caption
{
    border: 1px solid rgb(185, 185, 185);
    padding: 0 0 0.3em 0.5em;
    color:#3B5998;
    font-size:1.5rem;
    font-weight:bold;
    margin:0.2em 0;
    position: relative
}
#loginformtable
{
    margin:auto;
}
.ErrorMessage
{
    font-size:0.8   rem;
    color:#FF0000
}