{%extends 'base.html' %}
{% block title %}AmyYoga完善个人信息{% endblock %}

{% block content2 %}<!--页面右边部分，存放页面功能对应的界面-->
<style>
    .complete_top{
        position:absolute;
        width:50%;
        border: 0px;
        padding: 0px;
        margin: 0px;
        height:10%;
        top:0px;
        left:50%;
    }
    .complete_bottom{
        position:absolute;
        width:100%;
        border: 0px;
        padding: 0px;
        margin: 0px;
        height:80%;
        top:20%;
        left:10%;
    }
</style>

<div class="complete_top">

</div>

<div class="complete_bottom">
    <form method="POST">
        {%csrf_token%}
        <b>用户名：</b>{{ name_of_user }}

        <table id="completeformtable">
            {{completeForm.as_table}}
        </table>
        <br><br>
        <a href="changepassword/">修改密码</a>&emsp;&emsp;
        <input type="submit" value="确认" style="font-size:1rem"><br>
    </form>
</div>
    {% endblock %}
