<!DOCTYPE html>
<html>
<head>
    <title>AmyYogaLogin</title>
    <style>
        #body
        {
            background-image:{%load static%} url({%static 'UserLogin/image.jpg'%});
            background-repeat:no-repeat;
            background-size:cover;
        }
    </style>
    {%load static%}
    <link rel="stylesheet" type="text/css" href="{%static 'UserLogin/style.css'%}">
</head>
<body id="body">
<div id="loginform">
    <div id="caption">
        登陆到 AmyYoga
    </div>
    <form method="POST">
        {%csrf_token%}
        {% for field in loginForm %}
            <div class="fieldWrapper">
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
            </div>
        {% endfor %}
        {%if loginForm.non_field_errors%}
            <div class="ErrorMessage">{{loginForm.non_field_errors}}</div>
        {%endif%}
        <a href="/password/forget/">忘记密码</a>&emsp;&emsp;
        <input type="submit" value="登录" style="font-size:1rem"><br>
    </form>
    <div id="caption-otheroptions">

    </div>
</div>

</body>
</html>