{% extends 'indexbase.html'%}

{% block title %}AmyYoga师资团队{% endblock %}

{% block content2 %}<!--页面右边部分，存放页面功能对应的界面-->
<pre>
    很多朋友应该在十年前就读过这篇文章了，虽然已经过去了那么多年了，再次品读还是很受启发。文章有点长，小编未作删减，原汁原味道分享给大家，值得你花点时间耐心慢慢看完，仁者见仁，智者见智，但一定会有受益
先说我做过的运动。

因为父母身体都不高，而我又是家里最小的，又出生在上世纪的70年代，所以先天体质不是很好。到小学五年级，一位年轻的班主任，她喜爱运动，让我知道了世界上有锻炼这回事情。

我前前后后接触过的锻炼与运动，从田径到球类，从气功到武术，从按摩到辟谷，反正那个时候学业也不重，父母也没有时间管，约了几个好朋友，整天就搞这搞那。到了高中，对运动和锻炼的认识已经比较系统。而各种运动与锻炼方法的利弊也有了自己的体会。

总的来说，瑜伽的作用有两个：让人静下来，让人愉快起来。进而让人清醒的感觉到自己在活着，以一种关怀的心关心着自己。其次，它能比较大的改变人的体质，进而改变人的体型，气质，精神等等。

这是其他运动很难比的。比如足球，它让人兴奋，但不是愉快。比如太极，它让人平稳，但不是安静。比如有氧，它让人轻松，但不是清醒等等。注意，我不是说瑜伽是世界上最好的运动，而是说，每一种运动都有自己的效果。也有自己的局限。

下面说说瑜伽是如何起作用的。

首先，大家要知道，对人身体影响最大的因素：

一是地心引力，

　　二是自身体质。

地心引力因为是永远存在的，所以它从我们一出生，甚至我们还在胎里，就不间断的把我们的每一个细胞往下拉，而支持我们身体的，就是骨架，骨架的核心就是脊柱。

我们自身的体质，既有从娘胎里带出来的，也有后天的环境与饮食造成的。

好了，这两点知道了，然后就一定要知道：印度与中国的区别。

因为目前我们国家流行的，与其说是印度的瑜伽，不如说是中国的一种貌似瑜伽的运动。

为什么这么说呢?

每个国家都有其根本的哲学。所有的行为，都是这种哲学的体现。比如，中国的所有运动，都可以在易经里找到理论。而印度的哲学，是三世哲学。就是说，他们相信人有前世和来生。

他们的运动，包括瑜伽，都是对前世的了断，和对来世的准备。

说简单点，中国的运动，是希望人平衡与强壮，印度的运动，是希望人
</pre>
    {% endblock %}