{% extends 'logedbase.html' %}

{% block title %}管理员添加课程信息{% endblock %}

{% block content2 %}<!--页面右边部分，存放页面功能对应的界面-->
 <style>
    .course_top{
        position:absolute;
        width:90%;
        border: 0px;
        padding: 0px;
        margin: 0px;
        height:10%;
        top:0px;
        left:10%;
    }
    .course_bottom{
        position:absolute;
        width:90%;
        border: 0px;
        padding: 0px;
        margin: 0px;
        height:50%;
        top:40%;
        left:10%;
    }
</style>
<form method="POST">
        {%csrf_token%}
        <table id="addcourseformtable">
            {{addcourseForm.as_table}}
        </table>
        <br><br>
        <input type="submit" value="确认" style="font-size:1rem"><br>
</form>

    {% endblock %}