{% extends 'logedbase.html' %}

{% block title %}
{% if people == 'guanliyuan' %}
管理员查看课程信息
{% elif people == 'kehu' %}
客户查看课程信息
{% endif %}
{% endblock %}

{% block content2 %}<!--页面右边部分，存放页面功能对应的界面-->

<style>
     .coursemess_top{
        position:absolute;
        width: 90%;
        border: 0px;
        padding: 0px;
        margin: 0px;
        height:10%;
        top:0px;
        left:10%;
        }
     .coursemess_bottom{
        position:absolute;
        width: 90%;
        border: 0px;
        padding: 0px;
        margin: 0px;
         height:50%;
        top:40%;
        left:10%;
     }
</style>
{% if people == 'guanliyuan' %}
    <p><a href="/course/view/">查看课程</a> <a href="/course/add/">增加课程</a></p>
{% elif people == 'kehu' %}
<p>所有课程</p>
{% endif%}

{% if order %}
    <table>
        <tr>
            <th>序号</th>
            <th>课程名</th>
            <th>课程价格</th>
            {% if people == 'guanliyuan' %}
            <th>是否修改课程</th>
            {% endif %}
        </tr>
         {% for i in order %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="/course/view/{{i.coursename}}/">{{ i.coursename }}</a> </td>
            <td>{{ i.courseprice }}</td>
            {% if people == 'guanliyuan' %}
            <td><a href="/course/modify/{{i.coursename}}/">修改课程</a> </td>
            {% if i.course_flag == True %}
            <td><a href="/course/delete/{{i.coursename}}/">下架课程</a> </td>
            {% else %}
            <td><a href="/course/restore/{{i.coursename}}/">上架课程</a> </td>
            {% endif %}
            {% endif %}
        </tr>
        {% endfor %}
    </table>
{% endif %}

{% endblock %}