{% extends 'logedbase.html' %}

{% block title %}管理员修改课程信息{% endblock %}

{% block content2 %}<!--页面右边部分，存放页面功能对应的界面-->

<style>
     .modcourse_top{
        position:absolute;
        width: 90%;
        border: 0px;
        padding: 0px;
        margin: 0px;
        height:10%;
        top:0px;
        left:10%;
        }
     .modcourse_bottom{
        position:absolute;
        width: 90%;
        border: 0px;
        padding: 0px;
        margin: 0px;
        height:50%;
        top:40%;
        left:10%;
     }
</style>

     <form method="POST">
        {%csrf_token%}
        <table id="modformtable">
            {{modcourseForm.as_table}}
        </table>
        <br><br>
        <input type="submit" value="确认" style="font-size:1rem"><br>
    </form>

    {% endblock %}