<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>忘记密码</title>
</head>
<body>
    <div style="text-align:Center">
        {%if usernameForm%}
            <form method="POST" action="forgetpasswordlogin">
                {%csrf_token%}
                <table style="margin:0 auto">
                    {{usernameForm.as_table}}
                </table>
                {%if errormessage%}
                    {{errormessage}}
                {%endif%}
                <input type="submit" value="确认">
            </form>
        {%endif%}
        {%if forgetPasswordForm%}
            密保问题：{{securityQuestion}}
            <form method="POST" action="forgetpassword">
                {%csrf_token%}
                <table style="margin:0 auto">
                    {{forgetPasswordForm.as_table}}
                </table>
                {%if errormessage%}
                    {{errormessage}}
                {%endif%}
                <input type="submit" value="修改">
            </form>
        {%endif%}
    </div>
</body>
</html>