<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>忘记密码</title>
</head>
<body>
    <div style="text-align:Center">
        {%if usernameForm%}
            <form method="POST">
                {%csrf_token%}
                {% for field in usernameForm %}
                    <div class="fieldWrapper">
                    {{ field.label_tag }} {{ field }}
                    {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                    </div>
                {% endfor %}
                {%if usernameForm.non_field_errors%}
                    {{usernameForm.non_field_errors}}
                {%endif%}
                <input type="submit" value="确认">
            </form>
        {%endif%}
        {%if forgetPasswordForm%}
            <form method="POST">
                {%csrf_token%}
                {% for field in forgetPasswordForm %}
                    <div class="fieldWrapper">
                    {{ field.label_tag }} {{ field }}
                    {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                    </div>
                {% endfor %}
                {%if forgetPasswordForm.non_field_errors%}
                    {{forgetPasswordForm.non_field_errors}}
                {%endif%}
                <input type="submit" value="修改">
            </form>
        {%endif%}
    </div>
</body>
</html>