<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AmyYogaRegister</title>
</head>
<body>
<div style="text-align:Center">
    <form method="POST">
        {%csrf_token%}
        {% for field in registerForm %}
        <div class="fieldWrapper">
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
        {% endfor %}
        {%if registerForm.non_field_errors%}
        {{registerForm.non_field_errors}}
        {%endif%}
        <input type="submit" value="注册">
    </form>
</div>
</body>
</html>